<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
            <a href="/dashboard">
                <i class="fa fa-fw fa-dashboard"></i> <span>Dashboard</span>
            </a>
            </li>
        <li class="treeview">
            <a href="#">
            <i class="fa fa-fw fa-address-book-o"></i> <span>Contact</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu" style="background-color: #293348;">
                <li><a href="#"><i class="fa fa-circle-o"></i>All</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Volunteers</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Donator</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Bebeficiary</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Workers</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Organizations</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Media</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Enterprise</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Government</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>No Class</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="/projects/list">
            <i class="fa fa-fw fa-search"></i> <span>Find Projects</span>
            </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-tasks"></i> <span>Projects Management</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            <ul class="treeview-menu" style="background-color: #293348;">
                <li><a href="#" onclick="showMainContent('wishListContainer')"><i class="fa fa-circle-o"></i>Wish list</a></li>
                <li><a href="#" onclick="showMainContent('myProjectsContainer')"><i class="fa fa-circle-o"></i>My projects</a></li>
            </ul>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-institution"></i> <span onclick="showNGOs()">Organizations</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            <ul class="treeview-menu" style="background-color: #293348;">
            <li><a href="#"><i class="fa fa-circle-o"></i>All</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Organizations</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Media</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Enterprise</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Government</a></li>
            </ul>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-table"></i> <span>Spread sheets</span>
        </a>
        </li>

        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-comments-o"></i> <span>Community</span>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-laptop"></i> <span>Micro Web</span>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-envelope-o"></i> <span>Email</span>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-mobile"></i> <span>Texting</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="background-color: #293348;">
            <li><a href="#"><i class="fa fa-circle-o"></i>Mass Texting</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Log Sending</a></li>
            </ul>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-file"></i> <span>File</span>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-cog"></i> <span>Setting</span>
        </a>
        </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-info"></i> <span>About GAIA</span>
        </a>
        </li>
    </ul>
    </section>
    <!-- /.sidebar -->
</aside>